body{
    background-image: -webkit-image-set(url(Desktop-Homepage-Slider_-712x384.gif));
    background-size: cover;
    background-color:black;
    display: flex right;
    align-items: center;
    justify-content: center;
    
}
form{
    display: flex ;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 57%;
    background-color: black;
    color: white;
}
input{
    margin: 25px;
}
label{
    margin: 5px;
}